RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Don't rewrite external API requests
RewriteCond %{REQUEST_URI} !^/capstone_hr_management_system/time_attendance/portal/api/
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]